<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<!--在Springboot中，默认读取thymeleaf文件的路径是：src/main/resource/templates
    <head th:replace="/include/header::head" >-->
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/index}">QI 首页</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">QI 书</a></li>
                <li><a th:href="@{/bolgIndex}">QI 谈</a></li>
                <li><a href="#">QI 文</a></li>
                <li><a href="#">QI 友</a></li>
            </ul>

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{publish}">发布</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret" shiro:principal ="loginName"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人中心</a></li>
                        <li><a href="#">相关配置</a></li>
                        <shiro:hasRole name="admin">
                            <li><a th:href="@{/qi}">子琦学习</a></li>
                            <li><a th:href="@{/userCon}">用户管理</a></li>
                            <li><a th:href="@{/control}">QI 用户管理</a></li>
                        </shiro:hasRole>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/logout}">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>